html, body{
    background-color: #dddbdb;
    font-size: 16px;
    margin: 0;
    height: 100%;
}
app-home{
    width:100%;
    overflow: auto;
    height:100%;
}
app-page-one{
    width:100%;
    overflow: auto;
    height:100%;
}
app-page-two{
    width:100%;
    overflow: auto;
    height:100%;
}
footer{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    height:20px;
}